.stat-container {
 display: grid;
 grid-template-columns: repeat(2, 1fr);
 grid-template-rows: repeat(3, 1fr);
 grid-column-gap: 0.5vw;
 grid-row-gap: 0.5vw;
}

.stat1 {
 grid-area: 1 / 1 / 2 / 2;
}
.stat2 {
 grid-area: 2 / 1 / 3 / 2;
}
.stat3 {
 grid-area: 3 / 1 / 4 / 2;
}
.stat4 {
 grid-area: 1 / 2 / 2 / 3;
}
.stat5 {
 grid-area: 2 / 2 / 3 / 3;
}
.stat6 {
 grid-area: 3 / 2 / 4 / 3;
}

.city-name {
 text-align: center;
 color: green;
}

.weather-app {
 background-color: lightblue;
 color: rgb(153, 99, 0);
 padding: 2vw;
 width: 60vw;
 margin: auto;
 margin-top: 5vw;
 border: 0.4vw solid green;
 font-size: 2.5vw;
}

.place-input {
 grid-area: 1 / 1 / 2 / 2;
 font-size: 2vw;
 width: 40vw;
}
.place-btn {
 font-size: 2vw;
 grid-area: 1 / 2 / 2 / 3;
}
.input-container {
 height: 4vw;
 margin-top: 2vw;
 display: grid;
 grid-template-columns: repeat(2, 1fr);
 grid-template-rows: 1fr;
 grid-column-gap: 0px;
 grid-row-gap: 0px;
}
